<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifspsaocarlos.sdm.what_ifsp_zap" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >

            <!--Seta a activity defaultpara searchable-->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchActivity" />
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--android:launchMode="singleTop"  para quando chamar ela mesma e não criar outra-->
        <activity
            android:name=".activity.SearchActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>


        <activity
            android:name=".activity.SignupActivity"
            android:label="What-ifsp-zap" >

            <!-- Define como MAIN activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="br.edu.ifspsaocarlos.sdm.what_ifsp_zap.service.LoadMessagesService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="BUSCAR_NOVAS_MENSAGENS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>
